* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
    margin: 0px;
}

.first-section { 
    background:#1f2937;

}

.logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px ;
    margin-bottom: 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding: 25px 0px;
}

.header-right-links {
    display: flex;
    list-style: none;
    gap: 16px;
    color:  #e5e7eb;
}

a { 
    text-decoration: none;
    
}

a:visited { text-decoration: none; color: #e5e7eb; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}


.intro {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;

}

.container-one {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    gap: 10px;
    margin-bottom: 200px;


}

#this-website { 
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    min-width: 100px;
    max-width:500px;


}

#this-subtext {
    font-size: 18px;
    color: #e5e7eb;
    min-width: 100px;
    max-width:450px;
}

.container-two { 
    display: flex;
    width: 400px;
    height: 200px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;

}

.sign-up {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
    height: 40px;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    border-color: white;
    
}

.second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px 200px;
}

.second-section-header{ 
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
    

.second-section-contents {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.info {
    display: flex;
    flex-direction: column ;
    gap:10px;
    width: 150px;
}

.info-img {
    width:150px;
    height:150px;

}


.third-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 350px;
    gap: 25px;
    justify-content: center;
    
}

.qoute {
    width: 825px;
    font-size: 36px;
    font-weight: light;
    font-style: italic  ;
    color: #1f2837;
}

.author {
    font-size: 30px;
    color: #1f2837;
    align-self: flex-end;
    font-weight: bold ;
}


.fourth-section {
    padding: 100px 200px
}
.container-three { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    padding: 50px 50px;
    border-radius: 5px;
}

.call-to-action-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.call-to-action { 
    font-size: 24px;
    color: #f9faf8;
}

.call-to-action-text {
    font-size: 20px;
    color: #1f2937;
}

.footer { 
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    align-self:  flex-end;
    

}

.footer-text { 
    font-size: 18px;
    color: #f9faf8;
    
}

