* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
    margin: 0px;
}

.first-section { 
    background:#1f2937;

}

.logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px ;
    margin-bottom: 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.header-right-links {
    display: flex;
    list-style: none;
    gap: 16px;
    color:  #e5e7eb;
}

a { 
    text-decoration: none;
    
}

a:visited { text-decoration: none; color: #e5e7eb; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}


.intro {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;

}

.container-one {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    gap: 10px;
    margin-bottom: 200px;


}

#this-website { 
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    min-width: 100px;
    max-width:500px;


}

#this-subtext {
    font-size: 18px;
    color: #e5e7eb;
    min-width: 100px;
    max-width:450px;
}

.container-two { 
    display: flex;
    width: 400px;
    height: 200px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;

}

#sign-up {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
    height: 40px;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    
}